# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# OS / editor
.DS_Store
.vscode/
.idea/

# Build / temp
*.log
*.tmp
*.temp
/tmp/

# Local outputs
*.pptx
*.potx
.awrreport
